.highlights-section{
  margin-top: 30px;
  .highlight-box{
    margin-bottom: 30px;
    .img-box{
      position: relative;
      img{

      }
    }
    .highlight-content{
      position: absolute;
      width: 70%;
      bottom: 70px;
      left: 70px;
      h1{
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 2px;
      }
      h4{
        color: #ffffff;
      }
    }
  }
}

// responsiveness
@media only screen and (max-width: 600px) {
  .highlights-section {
    margin-top: 30px;

    .highlight-box {
      margin-bottom: 30px;

      .img-box {
        position: relative;

        img {}
      }

      .highlight-content {
        left: 38px;

        h1 {
          font-size: 20px;
          margin-bottom: 18px;
        }

        h4 {
          color: #ffffff;
        }
      }
    }
  }
.btn-call{
  font-size: 14px;
}
}
// responsiveness